/**
 * Dark theme variables
 */

:root {
  --base-color: #DBDBDB;
  --border: dashed 1px rgba(219, 219, 219, 0.9);
  --selection-background: rgba(219, 219, 219, 0.99);
  --selection-text: #000;
  --background-color: #1c1c1c;
  --text-color: var(--base-color);
  --placeholder-color: var(--base-color);
  --link-color: var(--base-color);
  --code-color-1: #ffffff;
  --code-color-2: #dce7fd;
  --code-color-3: #f3e4a2;
  --code-color-4: #ffb793;
  --code-color-5: #f36a66;
  --code-color-6: #ff8adb;
  --code-color-7: #bd93f9;
  --code-color-8: #000080;
  --code-color-9: #93b4ff;
  --code-color-10: #7b94a5;
  --code-color-11: #84fba2;
  --code-color-12: #c5c8c6;
  --code-color-13: #2b2836;
  --code-color-14: #655e7f;
  --code-color-15: #ed9d13;
  --code-color-16: #1e90ff;
  --code-color-17: #800000;
  --code-color-18: #bbbbbb;
}
