---
layout: default
---

<img src="/header.png" alt="A diagram of distributed network">

<p><b>~$ whoami</b> yet another node in the endless and sprawling network of prison cells that we call the internet.</p>
<p>The posts below may include anything from write ups on malware traffic analysis exercises or overviews of scripting projects through to analysis of
the internet and the philosophies we have built around it.</p>

<h1 style="padding-bottom: 0px;">Posts:</h1>

{{ content }}
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == ""  %} <br /> {% endunless %} <!-- add line break if there is any content -->

{%- if site.posts.size > 0 -%}
  <ul>
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = "%Y-%m-%d" -%}
      [ {{ post.date | date: date_format }} ] <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
