---
layout: default
---

<img style="opacity: 0.5;" src="/assets/main/header.png" alt="A diagram of distributed network" width="100%" height="100%">

<p>I'm a technologist with over eight years of experience in operations and technical support. Currently, I delve into security and systems management to build resilient, effective solutions. This blog is my platform to share insights on cybersecurity trends, malware analysis, and system optimisation.</p>

<h2>Latest Post:</h2>
{% if site.posts.size > 0 %}
  <article>
    {%- assign latest_post = site.posts | first -%}
    <h3><a href="{{ latest_post.url | relative_url }}">{{ latest_post.title | escape }}</a></h3>
    <p><strong>Date:</strong> {{ latest_post.date | date: "%Y-%m-%d" }}</p>
    <p>{{ latest_post.excerpt | strip_html }}</p>
    <a href="{{ latest_post.url | relative_url }}">Read more</a>
  </article>
{% else %}
  <p>No posts available.</p>
{% endif %}

<h1 style="padding-bottom: 0px;">Posts:</h1>

{{ content }}
{% assign contentwonl = content | strip_newlines %} {% unless contentwonl == ""  %} <br /> {% endunless %} <!-- add line break if there is any content -->

{%- if site.posts.size > 0 -%}
  <ul>
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = "%Y-%m-%d" -%}
      [ {{ post.date | date: date_format }} ] <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </li>
    {%- endfor -%}
  </ul>
{%- endif -%}
